<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chat prac</title>
    <style>
      input { display: block; }
      ul { list-style: none; }
    </style>
  </head>
  <body>
    <h1>Temp Chat Room!!</h1>
    <ul id="messages">
    </ul>
    <form id="chatbox">
      <textarea></textarea>
      <input type="submit" value="Send">
    </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
    <script type="text/javascript">
      $(function() {
        var socket = null;
        var msgBox = $("#chatbox textarea");
        var messages = $("#messages");
        $("#chatbox").submit(function() {
          if (!msgBox.val()) return false;
          if (!socket) {
            alert("Error: There is no socket connection");
            return false;
          }
          socket.send(msgBox.val());
          msgBox.val("");
          return false;
        });
        if (!window["WebSocket"]) {
          alert("Error: Your browser does not support web sockets");
        } else {
          var roomURL = $(location).attr("href")
          var elm = $('<a>', { href: roomURL })[0];
          socket = new WebSocket("ws://{{.Host}}/room" + elm.search);
          socket.onclose = function() {
            alert("Connection has been closed");
          }
          socket.onmessage = function(e) {
            console.log(e);
            messages.append($("<li>").text(e.data));
          }
        }
      })
    </script>
  </body>
</html>
